[interactive]
  diffFilter = delta --color-only

[include]
    path = ./themes.gitconfig

[delta]
    features = hoopoe
    navigate = true    # use n and N to move between diff sections
    side-by-side = true
